body {
  background-color: rgb(25,25,25);
  color: white;
  padding: 15px;
}

button {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: rgb(70, 66, 66);
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.yellow-btn {
  background-color: rgb(216, 165, 37);
}

.clear-btn {
  font-size: 12px;
}